<div id="filterrific_results">
  <!-- /.row -->
  <% @listings.each do |listing| %>
  <!-- Project One -->
  <div class="row">
    <div class="col-sm-7">
      <a href="portfolio-item.html">
      <%if listing.photos[0]%>
        <%= image_tag listing.photos[0].url , class: "img-response" %>
      <%end%>
      </a>
    </div>
    <div class="col-sm-5">
      <h3><%= link_to listing.title, listing %></h3>
      <h4>Rate: <%= listing.price %></h4>
      <p><%= listing.description %></p>
      <%= link_to "View More", listing, class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>