<%=form_for @user do |f| %>
	<div>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :password %>
		<%= f.text_field :password %>
	</div>

	<div>
		<%= f.submit "Update", class: "col-sm-1 col -offest-sm-11 btn btn-primary" %>
	</div>
<% end %>